{% extends "account/base_entrance.html" %}
{% load i18n %}
{% block content %}


{% url 'account_reset_password' as reset_url %}

<div class="content-section my-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card p-4 m-2">
                <div class="my-2">
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p>
                        {{_("Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.")}}
                    </p>
                </div>
                <form method="POST" action="{{reset_url}}">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">{{_('Reset Password')}}</legend>
                        <div class="form-floating">
                            <input name="email" type="text" class="form-control border-2 border-primary-subtle" id="id_email" placeholder="email"
                                required maxlength="254">
                            <label for="id_email">{{_("Email")}}</label>
                        </div>
                    </fieldset>
                    <div class="d-grid my-2">
                        <button class="btn btn-primary" type="submit">{{_('Submit')}}</button>
                    </div>
                </form>
                <div class="my-2 p-1">
                    <p>
                        {% blocktrans %}
                        Please contact us if you have any trouble resetting your password.
                        {% endblocktrans %}
                        <a href="{% url 'home:contact' %}" class="btn btn-primary btn-sm">
                            <i class="fa-solid fa-envelope"></i>
                            {{_("Contact")}}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}