{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<section class="my-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card p-2">
                <h1>
                    {% trans "Password Reset" %}
                </h1>
                <div class="mt-2">
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p>
                        {% blocktrans %}
                        We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
                        {% endblocktrans %}
                    </p>
                    <div>
                        <a class="btn btn-warning" target="_blank" href="{% url 'home:contact' %}">
                            <i class="bi bi-envelope"></i>
                            <span>Contact</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
