{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<section class="my-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card p-2">
                <h1>
                    {% trans "Change Password" %}
                </h1>
                <div>
                    <p>{% trans 'Your password is now changed.' %}</p>
                </div>
                <div class="my-2">
                    <a href="{% url 'account_login' %}" class="btn btn-primary">
                        {{_("Sign In")}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
