{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
{% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<section class="my-2">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card p-2">
                <h1>
                    {% if token_fail %}
                    {% trans "Bad Token" %}
                    {% else %}
                    {% trans "Change Password" %}
                    {% endif %}
                </h1>
                <div>
                    {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>
                        {% blocktrans %}
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a <a class="btn btn-primary" href="{{ passwd_reset_url }}">new password reset</a>.
                        {% endblocktrans %}
                    </p>
                    {% else %}
                    <div>
                        <form action="{{action_url}}" method="post">
                            {% csrf_token %}
                            <div class="form-floating mb-2">
                                <input name="password1" type="password" class="form-control" id="floatingPassword1" placeholder="Password" required>
                                <label for="floatingPassword1">{{_("New Password")}}</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input name="password2" type="password" class="form-control" id="floatingPassword2" placeholder="Password" required>
                                <label for="floatingPassword2">{{_("New Password (again)")}}</label>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                {% trans 'Change Password' %}
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}