<section id="contact" class="contact">
    <h1 class="text-center my-5">
        Contact Us
    </h1>
    <div class="container" data-aos="fade-up">
        <div class="row gy-4">
            <div class="col-lg-12">
                <div class="row gy-4 d-flex justify-content-center">
                    <div class="col-md-4 bg-white p-2 m-1 shadow">
                        <div class="info-box">
                            <i class="bi bi-envelope"></i>
                            <h3 class="text-muted">Email Us</h3>
                            <a class="text-dark" href="mailto:info@example.com">info@example.com</a>
                        </div>
                    </div>
                    <div class="col-md-4 bg-white p-2 m-1 shadow">
                        <div class="info-box">
                            <i class="bi bi-telephone"></i>
                            <h3 class="text-muted">Message Us</h3>
                            <a
                                href="#">
                                <i class="bi bi-whatsapp text-success"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-telegram text-primary"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 bg-white p-2 m-1 shadow">
                        <div class="info-box">
                            <i class="bi bi-geo-alt"></i>
                            <h3 class="text-muted">Address</h3>
                            <p>Ankara<br>Turkey</p>
                        </div>
                    </div>
                    <div class="col-md-4 bg-white p-2 m-1 shadow">
                        <div class="info-box">
                            <i class="bi bi-clock"></i>
                            <h3 class="text-muted">Open Hours</h3>
                            <p>Monday - Sunday<br>7/24</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>