<section id="about-us" class="container my-5">
    <h2 class="fw-bold">About Djbp</h2>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, ad? Nisi, autem reiciendis aperiam
        architecto repellendus nemo molestias explicabo, quasi doloribus, laudantium quas! Labore adipisci laudantium
        voluptatibus ipsam saepe iusto.
    </p>

    <h3 class="mt-4 mb-2 fw-bold">What makes us different?</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card p-3 h-100">

                <i class="fa-solid fa-chart-line fa-3x text-primary mb-3"></i>
                <h5>Expertise</h5>
                <p>We specialize in ....</p>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 h-100">

                <i class="fa-solid fa-laptop-code fa-3x text-success mb-3"></i>
                <h5>User-friendly UI/UX</h5>
                <p>Our platform is built with you in mind, offering clear and intuitive navigation to access the data
                    you need.</p>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 h-100">

                <i class="fa-solid fa-hand-holding-dollar fa-3x text-danger mb-3"></i>
                <h5>Affordable Costs</h5>
                <p>We offer flexible pricing plans to fit your budget, ensuring you get the most value out of your
                    investment.</p>
            </div>
        </div>
    </div>



    <div class="card p-3 shadow my-4">
        <p class="mt-5 fs-5">Join the djbp community ...<a href="{% url 'account_signup' %}"
                class="btn btn-primary btn-lg">Start your free trial today!</a></p>
    </div>
</section>