<section id="about-us" class="container my-5">
    <h2 class="fw-bold">Djbp Hakkında</h2>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt similique accusantium odit harum non natus
        deleniti ab obcaecati minima possimus voluptas suscipit accusamus reiciendis unde, cum eaque ipsa. Iusto, cum?
    </p>

    <h3 class="mt-4 mb-2 fw-bold">Bizi farklı kılan nedir?</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card p-3 h-100">
                <i class="fa-solid fa-chart-line fa-3x text-primary mb-3"></i>
                <h5>Uzmanlık</h5>
                <p>Sosyal medya analitiğine özel uzmanlaşıyor, her platformun inceliklerini ve benzersiz ölçümlerini
                    anlıyoruz.</p>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 h-100">
                <i class="fa-solid fa-laptop-code fa-3x text-success mb-3"></i>
                <h5>Kullanıcı Dostu Arayüz</h5>
                <p>Platformumuz sizin için tasarlandı; ihtiyacınız olan verilere ulaşmak için net ve sezgisel bir
                    gezinme sunar.</p>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 h-100">
                <i class="fa-solid fa-hand-holding-dollar fa-3x text-danger mb-3"></i>
                <h5>Uygun Maliyet</h5>
                <p>Bütçenize uygun esnek fiyatlandırma planları sunuyoruz, böylece yatırımınızdan en fazla değeri
                    alabilirsiniz.</p>
            </div>
        </div>
    </div>



    <div class="card p-3 shadow my-4">
        <p class="mt-5 fs-5">Djbp topluluğuna katılın ... <a
                href="{% url 'account_signup' %}" class="btn btn-primary btn-lg">Ücretsiz denemenize bugün başlayın!</a>
        </p>
    </div>
</section>