{% load static %}
<form>
    <div class="row mb-3">
      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">{{_("Profile Image")}}</label>
      <div class="col-md-8 col-lg-9">
        <img src="{% static 'assets/profiles/user.png' %}" alt="Profile">
        <div class="pt-2">
          <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
          <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">{{_("Full Name")}}</label>
      <div class="col-md-8 col-lg-9">
        <input name="fullName" type="text" class="form-control" id="fullName" value="{{user.get_full_name}}">
      </div>
    </div>

    <div class="row mb-3">
      <label for="about" class="col-md-4 col-lg-3 col-form-label">{{_("About")}}</label>
      <div class="col-md-8 col-lg-9">
        <textarea name="about" class="form-control" id="about" style="height: 100px">{{user.client.about}}</textarea>
      </div>
    </div>

    <div class="row mb-3">
      <label for="company" class="col-md-4 col-lg-3 col-form-label">{{_("Company")}}</label>
      <div class="col-md-8 col-lg-9">
        <input name="company" type="text" class="form-control" id="company" value="{{user.default_brand.name}}">
      </div>
    </div>

    <div class="row mb-3">
      <label for="Job" class="col-md-4 col-lg-3 col-form-label">{{_("Job")}}</label>
      <div class="col-md-8 col-lg-9">
        <input name="job" type="text" class="form-control" id="Job" value="{{user.client.job}}">
      </div>
    </div>

    <div class="row mb-3">
      <label for="Country" class="col-md-4 col-lg-3 col-form-label">{{_("Country")}}</label>
      <div class="col-md-8 col-lg-9">
        <input name="country" type="text" class="form-control" id="Country" value="{{user.client.country}}">
      </div>
    </div>

    <div class="row mb-3">
      <label for="Address" class="col-md-4 col-lg-3 col-form-label">{{_("Address")}}</label>
      <div class="col-md-8 col-lg-9">
        <input name="address" type="text" class="form-control" id="Address" value="{{user.client.address}}">
      </div>
    </div>

    <div class="row mb-3">
      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">{{_("Phone")}}</label>
      <div class="col-md-8 col-lg-9">
        <input name="phone" type="text" class="form-control" id="Phone" value="{{user.client.phone}}">
      </div>
    </div>

    <div class="row mb-3">
      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
      <div class="col-md-8 col-lg-9">
        <input name="email" type="email" class="form-control" id="Email" value="{{user.email}}">
      </div>
    </div>

    <div class="row mb-3">
      <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>
      <div class="col-md-8 col-lg-9">
        <input name="twitter" type="text" class="form-control" id="Twitter" value="https://twitter.com/#">
      </div>
    </div>

    <div class="row mb-3">
      <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>
      <div class="col-md-8 col-lg-9">
        <input name="facebook" type="text" class="form-control" id="Facebook" value="https://facebook.com/#">
      </div>
    </div>

    <div class="row mb-3">
      <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
      <div class="col-md-8 col-lg-9">
        <input name="instagram" type="text" class="form-control" id="Instagram" value="https://instagram.com/#">
      </div>
    </div>

    <div class="row mb-3">
      <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
      <div class="col-md-8 col-lg-9">
        <input name="linkedin" type="text" class="form-control" id="Linkedin" value="https://linkedin.com/#">
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">{{_("Save Changes")}}</button>
    </div>
  </form>