{% load static %}
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'home:index' %}" class="logo d-flex align-items-center">
            <img src="{% static 'assets/img/apple-touch-icon.png' %}" alt="Logo" width="32" height="32"
                    class="d-inline-block align-text-top">
            <span class="d-none d-lg-block">
                Djbp
            </span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    {% if user.is_authenticated %}
    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="GET" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div>
    {% endif %}
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li>
            

            {% include 'languages.html' %}
            {% if user.is_authenticated %}
            <!-- {% include 'header-notification.html' %} -->
            {% include 'header-profile.html' %}
            {% endif %}

        </ul>
    </nav>
</header>