{% load static %}

<!-- fontawesome -->
<link rel="stylesheet" href="{% static 'libs/node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}"/>
<!-- bootstrap -->
<link rel="stylesheet" href="{% static 'libs/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
<!-- icons -->
<link rel="stylesheet" href="{% static 'libs/node_modules/bootstrap-icons/font/bootstrap-icons.min.css' %}">
<!-- Project CSS -->
{% now "Y-m-d" as version %}
<link rel="stylesheet" href="{% static 'css/style.css' %}?v={{version}}">