{% load i18n %}
{% load core_tags %}

{% if website %}

{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == "tr" %}
<meta name="description" content="{{website.tr_meta_description}}" />
<meta name="keywords" content="{{website.tr_meta_keywords}}" />
{% else %}
<meta name="description" content="{{website.en_meta_description}}" />
<meta name="keywords" content="{{website.en_meta_keywords}}" />
{% endif %}
{% else %}
<meta name="description"
    content="django boiler plate template" />
<meta name="keywords"
    content="django, boilerplate, template, project" />
{% endif %}